.contenedor-principal{
    width: 100%;
    padding:55px 0 0 40px;
}

.encabezado{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: 10px 0px;
    text-transform: uppercase;
    color: #fff;
}

.form-inputs-muchos{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 5px 10px 20px 5px;
    background: rgba(19, 35, 47, .5);
}

.nota-form{
    display: block;
    text-align: center;
    padding: 10px 0px;
    background: #2ecc71;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.container-inputs{
    display: flex;
    flex-direction: column;
}

.container-inputs label{
    padding: 10px 0px;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.container-inputs input{
    font-size: .9em;
    padding: 10px;
    transition:0.25s;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: 2px solid #000;
    background-color: #fff;
    font-weight: bold;
    width: 100%;
}

.container-inputs input:focus{
    background: rgb(220, 220, 220);
}

.container-inputs select{
    padding: 10px;
    font-size: .8em;
    font-family: none;
    font-family: 'Open Sans', sans-serif;
}

.container-inputs textarea{
    font-size: .9em;
    height:60px;
    padding: 10px;
    transition:0.25s;
    font-family: 'Open Sans', sans-serif;
}

.container-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.container-buttons input{
    padding: 8px;
    font-size: .8em;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.25s;
}

input[type="button"], input[type="submit"], input[type="reset"]{
    cursor: pointer;
    outline: none;
    background: none;
    font-family: 'Poppins', sans-serif;
    
}

input[type="reset"]{
    background:#df3030;
    color:#fff;
    border: 2px solid #df3030;
}

input[type="button"], input[type="submit"]{
    background: #2ecc71;
    color:#fff;
    border: 2px solid #2ecc71;
}

input[type="reset"]:hover{
    background:#df3030;
    color:#fff;
}

input[type="button"]:hover, input[type="submit"]:hover{
    background: #2ecc71;
    color:#fff;
}

/*input[type="text"], input[type="email"], input[type="search"], input[type="number"], input[type="date"]{
    outline: none;
    border: 2px solid #000;
    background-color: #fff;
    font-weight: bold;
}

input[type="text"]:focus , input[type="email"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="date"]:focus{
    background: rgb(220, 220, 220);
}*/

textarea{
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #000;
    background-color: #fff;
    outline: none;
    resize: none;
    font-weight: bold;
}

textarea:focus{
    background: rgb(220, 220, 220);
}

select{
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #000;
    background-color: #fff;
    outline: none;
    font-weight: bold;
}

.emple-button-box{
    background-color: #5dbdfd;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #000;
    padding: 10px 0px 10px 0;
}

.tit-button{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}

.radio{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.checkbox{
    display: flex;
    flex-direction: column;
}

.checkbox div{
    margin-top: 10px;
}

.radio div input[type="radio"], .checkbox div input[type="checkbox"]{
    display: none;
}

.radio div label, .checkbox div label{
    font-size: 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 5px 15px 5px 35px;
    display: inline-block;
    border-radius: 10px;
    position:relative;
    cursor: pointer;
    transition: all .3s ease;
}

.radio div label:hover, .checkbox div label:hover{
    background-color: rgba(52, 152, 219, 0.4);
}

.radio div label::before, .checkbox div label::before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top:5px;
}

.checkbox div label::before{
    border-radius: 5px;
}

.radio div input[type="radio"]:checked + label, .checkbox div input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background:#3498db;
    border-radius: 5px;
    color: #fff;
}

.radio div input[type="radio"]:checked + label::before, .checkbox div input[type="checkbox"]:checked + label::before{
    display: none;
}

.form-busqueda{
    padding-left: 40px;
    margin: 10px auto;
    width: 95%;
}

.input-busc{
    width: 100%;
    margin: 5px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.input-busc label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #fff;
}

.input-busc input{
    width: 60%;
    padding: 5px;
    font-size: .9em;
    transition:0.5s;
    outline: none;
    border: 2px solid #000;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.input-busc input:focus{
    background: rgb(220, 220, 220);
}

.input-busc select{
    width: 60%;
    padding: 5px;
    font-size: .9em;
    transition:0.5s;
}

.form-busqueda input[type="submit"]{
    display: block;
    width: 100%;
    margin: 10px auto;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition:0.25s;
}

.paginador{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 10px 0 10px 40px;
    margin:20px auto;
    display: flex;
    justify-content: space-evenly;
    background: rgba(19, 35, 47, .5);
}

.paginador a{
    text-decoration: none;
    font-size: 1em;
    color:#fff;
}

.enc-tabla-datos{
    margin: 20px 0px 20px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.sub-enc-paginas{
    margin: 10px 0px 10px 40px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    color: #fff;
}

.form-exportar{
    padding-left: 40px;
    margin: 10px auto;
    width: 95%;
}

.form-exportar input{
    display: block;
    width: 100%;
    margin: 10px auto;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition:0.25s;
}

.tb-datos{
    background: rgb(19, 35, 47);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0 20px 40px;
    border-top: 3px solid #fff;
}

.previo{
    text-align: center;
    flex-grow: 1;
    min-width: 250px;
    max-width: 400px;
    border: 3px solid #fff;
    border-radius: 10px;
    /*height: 200px;*/
    margin: 7px;
    background-color: #189b78;
}

.previo:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 2px 2px 20px #0000;
}

.tit-tb{
    text-transform: uppercase;
}

.previo span{
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 10px 0;
    color: #fff;
}

.buttons-tb{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}

.accion{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-color: #000;
    color: #ffffff;
    padding: 8px;
    font-size: .8em;
    border-radius: 5px;
}
.accion:hover{
    background-color:#fff;
    color: #000;
    cursor:pointer;
}

@media screen and (min-width:768px) {
    
    .nota-form{
        width: 80%;
        margin: auto;
    }

    .container-inputs{
        width: 80%;
        margin: auto;
    }
    
    .container-buttons{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .checkbox{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .form-busqueda{
        width: 80%;
    }
    
    .form-exportar{
        width: 80%;
    }
}